{% extends 'base.html.twig' %}
{% block body %}
    {% if user is not null %}
        <div>
            <a href="{{ path('app_logout') }}"
               style="margin: 0 auto;"
               id="bidd-offer" class="btn btn-success">Wyloguj
            </a>
            <a href="{{ path('user_page') }}"
                    style="margin: 0 auto;"
                    id="bidd-offer" class="btn btn-success">Ustawienia
            </a>
        </div>
    {% endif %}

    <div class="card d-flex"
         style="width: 65vw; margin: 0 auto;">

        <img id="image" class="card-img-top w-100"
             style="height: 60%"
             src="">
        <div class="card-body">
            <h5 id="name" class="card-title"></h5>
            <p id="price" class="card-text"></p>
            {% if user == auction.author %}
                <a class="btn btn-outline-danger"
                   href="{{ path('delete_auction', { 'auctionId': auction.id}) }}">Usuń aukcje</a>
            {% endif %}
        </div>

        {% if user != auction.author and user is not null %}
            <button onclick="biddPrice()"
                    style="margin: 0 auto;"
                    id="bidd-offer" class="btn btn-success">Podbij cenę
            </button>
            <br>
            <input id="bidd-price-btn" type="number"
                   style="width: 20%; margin: 0 auto;"
                   min="">
            <br>
            <br>
        {% endif %}
        <div id="bidders">
            {% if auction.lastBidd is null %}
                <p>Aktualnie nikt nie licytuje</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/js/websocket.js") }}"></script>
{% endblock %}